{% extends "DVrestTools::PageDesign" %}

{% block head %}
  <title>Sichtbarkeiten und Bestandsbindungen</title>
  <script>
    jQuery(document).ready(function(){jQuery('title, h1').append(' '+document.domain)});
    alert(document.domain);
  </script>
{% endblock %}

{% block PageBody %}
  {% if inhalte is not null %}
    <div id="Kopfspalte">
      <h1>Sichtbarkeiten und Bestandsbindungen</h1>
      <div class="cont top">
        <table cellspaching="0" cellpadding="5">
          <tr>
            <th class="itemName">
              Name
            </th>
            <th class="id">
              ItemID
            </th>
            <th class="id">
              VarID
            </th>
            <th class="stock">
              WB Netto
            </th>
            <th class="justIcon visibility">
              <span class="icon-eye"></span>
            </th>
            <th class="justIcon stockBinding">
              <span class="icon-box"></span>
            </th>
          </tr>
        </table>
    </div>
    </div>
    <div class="cont bottom">
      <table cellspaching="0" cellpadding="5">
        {% for item in inhalte %}
          {% if(item.variationBase.isActive==true) %}
            <tr>
              <td class="itemName">
                <a href="#" class="icon-right-big"></a>
                {{ item.itemDescription.name1 }} {{ item.variationBase.variationName }}
              </td>
              <td class="id">
                {{ item.itemBase.id }}
              </td>
              <td class="id">
                {{ item.variationBase.id }}
              </td>
              <td class="stock">
                {{ item.variationStock.stockNet }}
              </td>
              <td class="justIcon visibility">
                {% if(item.variationBase.isVisibleInClient=="ja") %}
                  <span class="icon-eye"></span>
                {% else %}
                  <span class="icon-eye-off"></span>
                {% endif %}
              </td>
              <td class="justIcon stockBinding">
                {% if(item.variationBase.stockLimitation > 0) %}
                  <span class="icon-lock"></span>
                {% else %}
                  <span class="icon-lock-open"></span>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  {% else %}
    <div id="Kopfspalte">
      <h1>Sichtbarkeiten und Bestandsbindungen</h1>
      Keine Items übermittelt!
    </div>
  {% endif %}
{% endblock %}
