{% extends "DVrestTools::PageDesign" %}

{% block head %}
  <title>Sichtbarkeiten und Bestandsbindungen</title>
  <script>
    jQuery(document).ready(function(){
      jQuery('title, h1').append('<br />'+document.domain);
      jQuery('.aufmachen').each(function(){
        jQuery(this).click(function(){
          jQuery(this).parent().parent().addClass('done');
          return true;
        });
      });
    });
  </script>
{% endblock %}

{% block PageBody %}
  {% if inhalte is not null %}
    <div id="Kopfspalte">
      <h1>Sichtbarkeiten und Bestandsbindungen</h1>
      <div class="cont top">
        <table cellspaching="0" cellpadding="5">
          <tr>
            <th class="itemName">
              Name
            </th>
            <th class="id">
              ItemID
            </th>
            <th class="id">
              VarID
            </th>
            <th class="stock">
              WB Netto
            </th>
            <th class="justIcon visibility">
              <span class="icon-eye"></span>
            </th>
            <th class="justIcon stockBinding">
              <span class="icon-lock"></span>
            </th>
            <th class="justIcon stockautoVisible">
              A <span class="icon-eye" ></span>
            </th>
            <th class="justIcon stockautoInvisible">
              A <span class="icon-eye-off"></span>
            </th>
            <th class="justIcon stockautoAvailable">
              A <span class="avail_1 icon-box" style="color:green"></span>
            </th>
            <th class="justIcon stockautoUnavailable">
              A <span class="avail_1 icon-box" style="color:red"></span>
            </th>
          </tr>
        </table>
    </div>
    </div>
    <div class="cont bottom">
      <table cellspaching="0" cellpadding="5">
        {% set dawareins = 'nein' %}
        {% for item in inhalte %}
          {% if(item.variationBase.isActive==true) %}

            {% set itemNettoStock = item.variationStock.stockNet %}
            {% set mussraus = 'nein' %}

            {% if (itemNettoStock<1 and item.variationBase.stockLimitation ==true)%}
              {% set mussraus = 'ja' %}
            {% elseif (itemNettoStock>0 and item.variationBase.stockLimitation !=true) %}
              {% set mussraus = 'ja' %}
            {% elseif (itemNettoStock<1 and item.variationBase.isVisibleIfNetStockIsPositive ==true) %}
                {% set mussraus = 'ja' %}
            {% elseif (itemNettoStock>0 and item.variationBase.isVisibleIfNetStockIsPositive !=true) %}
                {% set mussraus = 'ja' %}
            {% elseif (item.variationBase.isVisibleInClient!="ja") %}
                {% set mussraus = 'ja' %}
            {% endif %}


            {% if mussraus == 'ja' %}
              {% set dawareins = 'ja' %}
              <tr>
                <td class="itemName">
                  <a href="/plenty/ui/admin.html?ui_action=ITEM_DETAIL&itemId={{ item.itemBase.id }}" target="_blank" class="icon-right-big aufmachen"></a>
                  {{ item.itemDescription.name1 }} {{ item.variationBase.variationName }}
                </td>
                <td class="id">
                  {{ item.itemBase.id }}
                </td>
                <td class="id">
                  {{ item.variationBase.id }}
                </td>
                <td class="stock"{% if(itemNettoStock<0) %}{{' error'}}{% endif %}>
                  {{ itemNettoStock }}
                </td>
                <td class="justIcon visibility">
                  {% if(item.variationBase.isVisibleInClient=="ja") %}
                    <span class="icon-eye"></span>
                  {% else %}
                    <span class="icon-eye-off error"></span>
                  {% endif %}
                </td>
                <td class="justIcon stockBinding">
                  {% if(item.variationBase.stockLimitation > 0) %}
                    <span class="icon-lock{% if (itemNettoStock<1) %} error{% endif %}"></span>
                  {% else %}
                    <span class="icon-lock-open{% if (itemNettoStock>0) %} error{% endif %}"></span>
                  {% endif %}
                </td>
                <td class="justIcon stockautoVisible">
                  {% if (item.variationBase.isVisibleIfNetStockIsPositive ==true) %}
                    <span class="icon-ok{% if (itemNettoStock<1) %} error{% endif %}"></span>
                  {% else %}
                    <span class="nixDrin{% if (itemNettoStock>0) %} error{% endif %}"></span>
                  {% endif %}
                </td>
                <td class="justIcon stockautoInvisible">
                  {% if (item.variationBase.isInvisibleIfNetStockIsNotPositive ==true) %}
                    <span class="icon-ok{% if (itemNettoStock<1) %} error{% endif %}"></span>
                  {% else %}
                    <span class="nixDrin{% if (itemNettoStock>0) %} error{% endif %}"></span>
                  {% endif %}
                </td>
                <td class="justIcon stockautoAvailable">
                  {% if (item.variationBase.isAvailableIfNetStockIsPositive ==true) %}
                    <span class="icon-ok{% if (itemNettoStock<1) %} error{% endif %}"></span>
                  {% else %}
                    <span class="nixDrin{% if (itemNettoStock>0) %} error{% endif %}"></span>
                  {% endif %}
                </td>
                <td class="justIcon stockautoUnavailable">
                  {% if (item.variationBase.isUnavailableIfNetStockIsNotPositive ==true) %}
                    <span class="icon-ok{% if (itemNettoStock<1) %} error{% endif %}"></span>
                  {% else %}
                    <span class="nixDrin{% if (itemNettoStock>0) %} error{% endif %}"></span>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if dawareins == 'nein' %}
          <tr><td colspan="10" style="text-align:center;">Nix zu beanstanden</td></tr>
        {% endif %}
      </table>
    </div>
  {% else %}
    <div id="Kopfspalte">
      <h1>Sichtbarkeiten und Bestandsbindungen</h1>
      Keine Items übermittelt!
    </div>
  {% endif %}
{% endblock %}
